# Dependencies
node_modules/

# Build
dist/

# Vite
.vite/
*.local

# Logs
*.log
npm-debug.log*

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editor
.idea/
.vscode/*
!.vscode/extensions.json
*.swp
*.swo
