.ui-text-button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  color: #616161;
  font-family: var(--font-family-secondary);
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0;
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
  transition: color var(--transition);

  svg {
    path {
      transition: color var(--transition);
    }
  }

  &:hover {
    text-decoration: none;
    color: #999999;

    svg {
      path {
        fill: #999;
      }
    }
  }
}