@use '../breakpoints' as *;

.cart-page {
  color: #111;

  .product-related {
    @media screen and (max-width: $mobile-max) {
      margin-top: 60px;
    }

  }
}

.cart-page__main {
  padding: 100px 40px 60px;

  @media screen and (max-width: $desktop-max) {
    padding: 80px 16px 60px;
  }
}

.cart-page__header {
  margin-bottom: 40px;
}

.cart-page__title {
  margin: 0;
  font-family: var(--font-family);
  font-size: 44px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0;

  @media screen and (max-width: $mobile-max) {
    font-size: 36px;
  }
}

.cart-page__header,
.cart-page__layout {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 360px;
  gap: 80px;
  align-items: start;

  @media screen and (max-width: $laptop-max) {
    grid-template-columns: 1fr;
    // gap: 40px;
  }
}

.cart-page__header-inner {
  display: flex;
  align-items: flex-end;
  gap: 24px;

  @media screen and (max-width: $mobile-max) {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

.cart-page__toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
}

.cart-page__count {
  margin: 0;
  font-family: var(--font-family-secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #434343;

  @media screen and (max-width: $mobile-max) {
    font-size: 14px;
  }

}

.cart-page__items {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #D7D7D7;
  border-bottom: 1px solid #D7D7D7;

  @media screen and (max-width: $mobile-max) {
    gap: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .site-cart__item {
    padding: 12px 0;

    &:not(:last-child) {
      border-bottom: 1px solid #D7D7D7;
    }

    @media screen and (max-width: $mobile-max) {
      padding: 0;
      border: none !important;
    }
  }
}

.cart-page__note {
  margin: 12px 0 0;
  font-family: var(--font-family-secondary);
  font-size: 12px;
  line-height: 1.16;
  color: #999;
}

.cart-page__aside {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cart-page__order-title {
  padding: 0 0 15px;
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #D7D7D7;
  }
}

.cart-page__order-rows {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #D7D7D7;
  }
}

.cart-page__order-row,
.cart-page__order-total {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 16px;
}

.cart-page__order-row {
  color: #616161;
  font-weight: 400;
  font-family: var(--font-family-secondary);
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0;

  strong,
  span {
    &:last-child {
      color: #111;
    }
  }
}

.cart-page__order-total {
  padding-top: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0;
  color: #111;
}

.cart-page__checkout {
  margin-top: 24px;
}

.cart-page__installments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  align-self: stretch;
  margin-top: 24px;
}

.cart-page__installments-caption {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 6px;
}

.cart-page__installments-text {
  margin: 0;
  font-family: var(--font-family-secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  color: #252525;
}

.cart-page__installments-info {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;

  svg {
    display: block;
    width: 14px;
    height: 14px;
  }
}

.cart-page__installments-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
  min-height: 26px;
}

.cart-page__installments-separator {
  flex-shrink: 0;
  width: 4px;
  height: 4px;
  border-radius: 10px;
  background: #d7d7d7;
}

.cart-page__installments-logo {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;

  svg {
    display: block;
  }
}

.product-related--cart-suggested {
  .section-inner {
    padding-left: 4px;
    padding-right: 4px;
  }

  .product-related__grid {
    margin-top: 28px;
  }
}