.featured {
  padding: var(--layout-padding);

  &-title {
    max-width: 831px;
    flex: 1;
  }

  .section-heading {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
    align-items: end;

    &__title--regular {}

    &__title--italic {
      text-align: right;
      padding-right: 84px;
      margin-top: 10px;
    }
  }

  .section-inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .section-heading__text {
    max-width: 511px;
  }

  &__grid {
    display: grid;
    grid-template-columns: minmax(0, 42.4%) minmax(0, 1.4fr);
    gap: var(--items-gap);
  }


  .product-grid {
    display: grid;
    min-width: 0;
    height: 100%;

    &--compact {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-rows: repeat(2, auto);
      column-gap: 4px;
      row-gap: 20px;
      align-content: space-between;
      padding-bottom: 6px;      
    }
  }

  .section-action {
    margin-top: 24px;
    text-align: center;
  }

  .product-card__sizes {
    transition: opacity var(--transition);
  }

  .product-card__size,
  .product-card__sizes-more {
    transition:
      color var(--transition),
      background-color var(--transition);
  }
}

.editorial-card {
  display: flex;
  flex-direction: column;
  min-width: 0;

  &__media {
    flex: 1;
    min-height: 640px;

    .product-card {
      height: 100%;
    }

    .product-card__media {
      flex: 1;
      min-height: 640px;
      aspect-ratio: 608/806;
    }
  }

  &__meta {
    padding-top: 14px;

    h3 {
      font-family: var(--font-serif);
      font-size: 22px;
      font-weight: 400;
    }

    p {
      margin-top: 4px;
      color: var(--color-text-secondary);
      font-size: 12px;
    }
  }
}

@media (max-width: 1023px) {
  .featured__grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {
  .featured .product-grid--compact {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}