@use '../breakpoints' as *;

.gift {
  padding: 71.5px var(--layout-padding);

  @media screen and (max-width: $desktop-max) {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media screen and (max-width: $laptop-max) {
      grid-template-columns: 1fr;
    }
  }

  &__copy {
    padding: 48px;

    @media screen and (max-width: $desktop-max) {
      padding: 40px 12px;
    }

    .section-heading__title {
      @media screen and (max-width: $mobile-max) {
        line-height: 1.1;
      }

      br {
        @media screen and (max-width: $mobile-max) {
          display: none;
        }
      }
    }

    .section-heading__text {
      margin-top: 16px;
      max-width: 580px;

      @media screen and (max-width: $mobile-max) {
        margin-top: 20px;
      }

      p {
        line-height: 1.4;
      }
    }

    & > .ui-button {
      margin-top: 36px;
    }
  }

  &__prices {
    display: flex;
    margin-top: 36px;

    @media screen and (max-width: $desktop-max) {
      flex-wrap: wrap;
    }
  }

  &__price {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2px;
    width: calc(100%/4);
    padding: 8px 12px 16px;
    border: 0;
    border-bottom: 1px solid #EBEBEB;

    color: #111;
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.16;
    letter-spacing: 0;

    background: transparent;
    cursor: pointer;

    @media screen and (max-width: $mobile-max) {
      font-size: 18px;
      padding-left: 2px;
      padding-right: 2px;

      padding-bottom: 14px;
    }

    &::after {
      position: absolute;
      right: 1px;
      bottom: -1px;
      left: 1px;

      height: 3px;

      background-color: transparent;

      content: '';
      transform: scaleY(0.25);
      transform-origin: bottom center;
      transition:
        transform var(--transition),
        background-color var(--transition);

      @media screen and (max-width: $mobile-max) {
        height: 2px;
      }
    }

    &.is-active::after {
      background-color: #111;
      transform: scaleY(1);
    }

    &:not(.is-active):hover::after {
      background-color: #EBEBEB;
      transform: scaleY(1);
    }

    &:focus-visible {
      outline: 1px solid #EBEBEB;
      outline-offset: 3px;
    }
  }

  &__media {
    aspect-ratio: 3 / 2;

    @media screen and (max-width: $mobile-max) {
      aspect-ratio: 385 / 246;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}