.gift {
  padding: 71.5px var(--layout-padding);

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  &__copy {
    padding: 48px;

    .section-heading__text {
      margin-top: 16px;
      max-width: 580px;

      p {
        line-height: 1.4;
      }
    }

    &>a.button {
      margin-top: 36px;
    }
  }

  &__prices {
    display: flex;
    margin-top: 36px;
  }

  &__price {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2px;
    width: calc(100%/4);
    padding: 8px 12px 16px;
    border: 0;
    border-bottom: 1px solid #EBEBEB;

    color: #111;
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.16;
    letter-spacing: 0;

    background: transparent;
    cursor: pointer;

    &::after {
      position: absolute;
      right: 1px;
      bottom: -1px;
      left: 1px;

      height: 3px;

      background-color: transparent;

      content: '';
      transform: scaleY(0.25);
      transform-origin: bottom center;
      transition:
        transform var(--transition),
        background-color var(--transition);
    }

    &.is-active::after {
      background-color: #111;
      transform: scaleY(1);
    }

    &:not(.is-active):hover::after {
      background-color: #EBEBEB;
      transform: scaleY(1);
    }

    &:focus-visible {
      outline: 1px solid #EBEBEB;
      outline-offset: 3px;
    }
  }

  &__media {
    aspect-ratio: 3 / 2;

    // height: 32vw;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 1100px) {
  .gift__inner {
    gap: 40px;
  }
}

@media (max-width: 900px) {
  .gift__inner {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 640px) {
  .gift__price {
    flex: 0 0 112px;
  }
}