.journal {
  padding: 80px var(--layout-padding);

  &__header {
    padding-left: 48px;
    padding-right: 48px;
    gap: 10px;
    justify-content: space-between;
  }

  &__grid {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 4px;
  }
}

.journal-card {
  display: flex;
  // min-height: 400px;
  aspect-ratio: 7/8;
  flex-direction: column;
  padding: 12px;
  align-items: flex-start;

  &:nth-child(1) {
    background: #EAFEFF;
  }

  &:nth-child(2) {
    background: #EAF8FF;
  }

  &:nth-child(3) {
    background: #E4FFF4;
  }

  &:nth-child(4) {
    background: #EEF4FF;
  }

  .badge {
    padding: 6px 8px;
    background: var(--Basic-White, #FFFFFF);
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0;
  }


  .date {
    margin-top: auto;

    font-family: var(--font-family-secondary);
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0;

  }

  &__body {
    h3 {
      font-family: var(--font-family);
      font-weight: 400;
      font-style: Regular;
      font-size: 24px;
      line-height: 1.16;
      letter-spacing: 0;
      margin-top: 20px;
    }

    p {
      margin-top: 12px;
      font-family: var(--font-family-secondary);
      font-weight: 400;
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 0;
    }
  }

}

@media (max-width: 1023px) {
  .journal__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 767px) {
  .journal__grid {
    grid-template-columns: 1fr;
  }
}