.unique-banner {
  padding: 80px var(--layout-padding);

  &__inner {
    background: #f4eee6 url('/src/assets/images/unique-banner/bg.webp') no-repeat center center / cover;
    padding: 81px 40px;
  }

  &__copy {

    .unique-title {}

    .section-heading__text {
      max-width: 580px;
      margin-top: 16px;

      p {
        line-height: 1.4;
      }
    }

    .button  {
      margin-top: 32px;
    }
  }

}

@media (max-width: 900px) {}

@media (max-width: 640px) {}