:root {
  --layout-max-width: 1440px;
  --content-max-width: 2560px;
  --layout-padding: 4px;
  --column-padding: 40px;
  --controls-gap: 8px;
  --items-gap: 4px;

  --color-background: #ffffff;
  --color-background-hover: #F5F5F5;

  --color-button-background-light: #fff;
  --color-button-background-light-hover: #E5E5E5;

  --color-button-background-dark: #111;
  --color-button-background-dark-hover: #252525;


  --color-text: #111;
  --color-text-secondary: #434343;
  --color-border: #111;

  --font-family: 'Feature Display LC Web', sans-serif;
  --font-family-secondary: 'TT Turns', sans-serif;
  --font-serif: var(--font-family);

  --transition-duration: 0.3s;
  --transition-timing-function: ease;
  --transition: var(--transition-duration) var(--transition-timing-function);
  --transition-image-duration: 0.6s;
  --transition-image-timing-function: ease-in-out;
  --transition-image: var(--transition-image-duration) var(--transition-image-timing-function);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  background: var(--color-background);
  overflow-x: clip;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  color: var(--color-text);
  background: var(--color-background);
  font-family: var(--font-family-secondary);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

h3 {
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

h4 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

h5 {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

h6 {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}


.page-shell {
  width: 100%;
  max-width: var(--content-max-width);
  min-height: 100svh;
  margin-inline: auto;
}


.button {
  position: relative;
  z-index: 2;
  color: #fff;
  background-color: var(--color-button-background-dark);
  padding-left: 20px;
  padding-right: 20px;
  height: 45px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  transition:
    color var(--transition),
    background-color var(--transition),
    border-color var(--transition);


  font-family: var(--font-family-secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.02em;

  border: none;

  &:hover {
    background-color: var(--color-button-background-dark-hover);
  }
}

.button--light {
  background-color: var(--color-button-background-light);
  border-color: var(--color-button-background-light);
  color: #111;

  &:hover {
    background-color: var(--color-button-background-light-hover);
  }


}



.section-inner {
  width: 100%;
}

.section-heading {
  &__text {
    flex: 1;

    p {
      font-family: var(--font-family-secondary);
      color: var(--color-text-secondary);
      font-size: 18px;
      line-height: 1.26;
      letter-spacing: 0;
    }

  }

  &--center {
    text-align: center;
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 44px;
    line-height: 1;
    letter-spacing: 0;
  }

  &__title--regular {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 44px;
    line-height: 1;
    letter-spacing: 0;

  }

  &__title--italic {
    font-family: var(--font-family);
    font-weight: 400;
    font-style: italic;
    font-size: 44px;
    line-height: 1;
    letter-spacing: 0;
  }


}

.section-heading--split {
  display: flex;

  @media (max-width: 1023px) {
    flex-direction: column;
  }
}

.text-muted {
  color: #999;

  a {
    color: #999;

    &:hover {
      color: #fff !important;
    }
  }
}