@use './breakpoints' as *;

.text-page__main {
  padding: 120px 28px 40px;

  @media (max-width: $laptop-max) {
    padding: 72px 16px 60px;
  }
}

.text-page__layout {
  display: grid;
  grid-template-columns: 1fr 700px 1fr;
  column-gap: 83px;
  align-items: start;

  @media (max-width: $desktop-max) {
    grid-template-columns: 260px 700px;
    gap: 40px;
  }

  @media (max-width: $laptop-max) {
    grid-template-columns: 1fr;
    gap: 36px;
  }
}

.text-page__sidebar {
  @media (max-width: $laptop-max) {
    min-width: 0;
  }
}

.text-page__widget {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 260px;
  width: 100%;
  margin-left: auto;

  @media (max-width: $laptop-max) {
    max-width: inherit;
    margin-left: inherit;
  }
}

.text-page__widget-title {
  font-family: var(--font-family-secondary);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0;
}


.text-page__nav {
  border: 1px solid #EBEBEB;
  border-radius: 24px;
  padding: 4px;

  @media (max-width: $laptop-max) {
    border: none;
    box-shadow: 0px 0px 1px 1px #EBEBEB;
    min-width: 0;
    overflow: hidden;
  }
}

.text-page__nav-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $laptop-max) {
    gap: 4px;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.text-page__nav-item {
  @media (max-width: $laptop-max) {
    flex-shrink: 0;
  }
}

.text-page__nav-link {
  font-family: var(--font-family-secondary);
  font-size: 14px;
  line-height: 1.2;
  transition: color var(--transition);
  width: 100%;
  display: block;
  padding: 12px;
  border-radius: 50px;

  @media (max-width: $laptop-max) {
    width: auto;
    white-space: nowrap;
    font-size: 12px;
    letter-spacing: 0;
    padding: 0 16px;
    height: 36px;
    display: flex;
    align-items: center;
  }

  &:hover {
    background-color: #F5F5F5;
    ;
  }

  &.is-active {
    background-color: #111;
    color: #fff;
  }
}




.archive-header {
  margin-bottom: 40px;
  flex-direction: column;
  gap: 40px;
  min-width: 0;
  display: flex;
}


.archive-title {
  font-family: var(--font-family);
  letter-spacing: 0;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
}

.archive-description {
  max-width: 700px;
  margin: 0 auto;
}

.archive .text-page__content {
  gap: 20px
}

.archive .text-page__title {
  text-align: left;
}

.archive .text-page__title a {
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
  text-align: center;

  @media (max-width: $mobile-max) {
    font-size: 24px;
  }
}


.text-page__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-width: 0;

  @media (max-width: $mobile-max) {
    gap: 36px;
  }
}

.text-page__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.page-title,
.text-page__title {
  font-family: var(--font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
  text-align: center;

  @media (max-width: $mobile-max) {
    font-size: 36px;
    text-align: left;
    line-height: 1.1;
  }
}

.text-page__subtitle {
  margin: 0;
  font-family: var(--font-family-secondary);
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: -0.28px;

  @media (max-width: $mobile-max) {
    text-align: left;
  }
}



.text-page__body {
  font-family: var(--font-family-secondary);
  padding-bottom: 80px;

  @media (max-width: $laptop-max) {
    padding-bottom: 0;
  }

  h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 48px;
    letter-spacing: 0;

    @media (max-width: $mobile-max) {
      font-size: 28px;
      margin-bottom: 40px;
    }

    &:not(:first-of-type) {
      margin-top: 48px;
    }
  }

  h3 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 48px;
    letter-spacing: 0;

    @media (max-width: $mobile-max) {
      font-size: 28px;
      margin-bottom: 40px;
    }

    &:not(:first-of-type) {
      margin-top: 48px;
    }
  }

  h4 {
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
    letter-spacing: 0;

    @media (max-width: $mobile-max) {
      margin-bottom: 13px;
    }

    &:not(:first-of-type) {
      margin-top: 24px;
    }
  }

  h5 {
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 14px;
    letter-spacing: 0;

    &:not(:first-of-type) {
      margin-top: 16px;
    }
  }

  h6 {
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-size: 13px;
    line-height: 1.2;
    margin-bottom: 13px;
    letter-spacing: 0;

    &:not(:first-of-type) {
      margin-top: 18px;
    }
  }

  p {
    margin: 0;
    font-family: var(--font-family-secondary);
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-text);
    margin-bottom: 16px;
  }

  ol,
  ul {
    margin-bottom: 16px;
  }

  ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    counter-reset: item;


    ol {
      margin-top: 12px;
      margin-left: 10px;
      margin-bottom: 0;

      li {
        margin-bottom: 12px;
      }
    }


    ul {
      padding-left: 24px;
      margin-top: 8px;
      margin-bottom: 0;



      li {
        margin-bottom: 8px;
      }
    }


  }

  ul {
    padding: 0;
    list-style: none;
    margin-top: 16px;
    padding-left: 9px;
  }

  ul li {
    position: relative;
    padding-left: 12px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: calc(0.75em - 1.5px);
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: #111;
    }
  }

  li {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0;
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 0;
    }


  }
}