@use './breakpoints' as *;

.product-main {
    width: 100%;
    margin-inline: auto;
    padding: 4px;
}

.product-main__layout {
    display: grid;
    grid-template-columns: minmax(0, 818fr) minmax(0, 614fr);
    align-items: stretch;
    max-height: calc(var(--viewport-height) - 8px);
    min-height: 0;
    overflow: clip;

    @media (max-width: $desktop-max) {
        grid-template-columns: 1fr;
        align-items: start;
        max-height: none;
        overflow: visible;
    }
}

/* Галерея */

.product-gallery {
    display: grid;
    gap: 4px;
    min-width: 0;
    min-height: 0;
    height: 100%;
    max-height: 1000px;

    @media (max-width: $desktop-max) {
        height: calc(var(--viewport-height) - 8px);
    }
}

.product-gallery--count-1 {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);
}

.product-gallery--count-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: minmax(0, 1fr);
}

.product-gallery--count-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: minmax(0, 61.3vh) minmax(0, 38.7vh);

    @media (max-width: $desktop-max) {
        grid-template-rows: minmax(0, 61.3%) minmax(0, 38.7%);
    }
}

.product-gallery__item {
    position: relative;
    margin: 0;
    overflow: hidden;
    background-color: #e9e4dc;
}

.product-gallery__item--full,
.product-gallery__item--half {
    min-height: 0;
}

.product-gallery__item--wide {
    grid-column: 1 / -1;
    min-height: 0;

    .product-gallery__image {
        object-position: bottom;


    }

    @media (max-width: $desktop-max) {
        // aspect-ratio: 4 / 1;
    }
}

.product-gallery__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Правая колонка */

.product-main__summary {
    min-width: 0;
    min-height: 0;
}

.product-main__summary-inner {
    padding: 68px 32px 32px;
}

.product-summary__head {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
    margin-top: 8px;
}

.product-summary__heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px;

    @media (max-width: $desktop-max) {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
}

.product-summary__title {
    margin: 0;

    font-family: var(--font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
}

.product-summary__attributes {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;

    margin: 0;
    padding: 0;

    list-style: none;
}

.product-summary__attributes li {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.16;

    &:not(:last-child)::after {
        content: '';
        width: 4px;
        height: 4px;
        margin-left: 6px;
        border-radius: 50%;
        background-color: #D7D7D7;
    }
}

.product-summary__aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 16px;
}

.product-summary__badge {
    display: inline-flex;
    align-items: center;
    padding: 0 8px;
    border: 1px solid #D7D7D7;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.16;
    margin-top: 2px;
    margin-bottom: 2px;
    white-space: nowrap;
    min-width: 146px;
    min-height: 28px;

    @media (max-width: $desktop-max) {

    }
}

.product-summary__sku {
    color: #000;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.28px;
    white-space: nowrap;
}

.product-summary__description {
    max-width: 550px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.4;
}

/* Размеры */

.product-purchase {
    margin-top: 40px;
}

.product-sizes {
    margin: 0;
    padding: 0;

    border: 0;
}

.product-sizes__list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.product-sizes__item {
    position: relative;
}

.product-sizes__input {
    position: absolute;

    width: 1px;
    height: 1px;

    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}

.product-sizes__label {
    display: grid;
    place-items: center;
    min-width: 40px;
    height: 40px;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 1.3;
    cursor: pointer;
    transition:
        border-color 180ms ease,
        background-color 180ms ease;
}

.product-sizes__label:hover {
    border-color: #EBEBEB;
}

.product-sizes__input:checked+.product-sizes__label {
    border-color: #111;
}

.product-sizes__input:focus-visible+.product-sizes__label {
    outline: 1px solid #111;
    outline-offset: 3px;
}

.product-sizes__guide {
    display: inline-block;
    margin-top: 8px;
    color: #616161;
    font-size: 14px;
    line-height: 1.4;
    text-decoration: underline;
    text-underline-offset: 2px;
    letter-spacing: 0;
}

/* Цена и рассрочка */

.product-purchase__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    align-items: end;
    margin-top: 24px;

    @media (max-width: $mobile-max) {
        grid-template-columns: 1fr
    }
}

.product-price {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.product-price__old {
    color: #999;
    font-size: 16px;
}

.product-price__current {
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
    letter-spacing: 0;
}

.product-payment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.product-payment__caption {
    display: flex;
    align-items: center;
    gap: 6px;
    line-height: 1;
    color: #252525;
    font-size: 14px;
}

.product-payment__info {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    border: 0;
    background: transparent;
    cursor: pointer;

    svg {
        display: block;
        width: 14px;
        height: 14px;
    }
}

.product-payment__services {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 0;
}

.product-payment__service {
    display: inline-flex;
    align-items: center;

    &:not(:last-child)::after {
        content: '';
        width: 4px;
        height: 4px;
        margin-left: 8px;
        border-radius: 50%;
        background-color: #D7D7D7;
    }

    svg {
        display: block;
        width: auto;
        height: auto;
    }

    &:nth-child(1) svg {}

    &:nth-child(2) svg {}

    &:nth-child(3) svg {}
}

.product-purchase__submit {
    width: 100%;
    min-height: 48px;
    margin-top: 24px;
    border-radius: 999px;
}

/* Вкладки */

.product-tabs {
    margin-top: 40px;
}

.product-tabs__navigation {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    border-bottom: 1px solid #e3e3e3;
}

.product-tabs__button {
    position: relative;
    min-height: 45px;
    padding: 8px 8px 16px;
    border: 0;
    color: #111;
    font-size: 16px;
    font-family: var(--font-family-secondary);

    background: transparent;
    cursor: pointer;

    &::after {
        position: absolute;
        right: 0;
        bottom: -1px;
        left: 0;

        height: 2px;

        background-color: #111;

        content: '';
        opacity: 0;
    }

    &.is-active::after {
        opacity: 1;
    }

    &:focus-visible {
        outline: 1px solid #111;
        outline-offset: -4px;
    }
}

.product-tabs__panel {
    padding-top: 16px;
}

.product-tabs__panel[hidden] {
    display: none;
}

.product-tabs__panel>p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}

.product-characteristics {
    margin: 0;
}

.product-characteristics__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
    align-items: center;
    border-bottom: 1px solid #EBEBEB;
    font-size: 14px;
    line-height: 1.4;
    padding: 12px 0 11px;
    color: #000;
    min-height: 44px;

    // &:not(:first-child){
    //     margin-top: -2px;
    // }
}

.product-characteristics__row dt,
.product-characteristics__row dd {
    margin: 0;
}

.product-characteristics__row dt {
    font-weight: 500;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    white-space: nowrap;
    border: 0;
}

/* Похожие товары */

.product-related {
    margin-top: 60px;
    margin-bottom: 60px;

    .section-heading__title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 36px;
        line-height: 1;
        letter-spacing: 0;
    }

    .product-card__info{
        padding-top: 4px;
    }

    .section-inner {
        @media screen and (max-width: $desktop-max) {
            overflow: visible;
        }
    }

    &__header {
        padding-left: 24px;
        padding-right: 24px;

        @media screen and (max-width: $desktop-max) {
            padding-left: 16px;
            padding-right: 16px;

            .button {
                display: none;
            }
        }
    }

    &__grid {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 4px;

        @media screen and (max-width: $laptop-max) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @media screen and (max-width: $mobile-max) {
            grid-template-columns: minmax(0, 1fr);
        }
    }

    &__item {
        min-width: 0;
    }
}

/* Сначала складываем две основные колонки */

@media (max-width: $desktop-max) {


    .product-main__summary-inner {
        position: static;
        min-height: auto;
    }
}

/* Пока только простое складывание галереи */

@media (max-width: $mobile-max) {



    .product-summary__aside {
        align-items: flex-start;
    }

    .product-tabs__navigation {
        overflow-x: auto;
        grid-template-columns: repeat(4, minmax(135px, 1fr));
    }

    .product-main__summary-inner {
        padding: 16px;
    }
}

.product-related--other {}